<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SignUp</title>
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  <body>
    <div class="background">
      <div class="page-heading"><i class="fa-solid fa-pizza-slice"></i>  Papa's Pizzeria</div>
      <div class="form-container">
        <span class="heading"><i class="fas fa-user-plus"></i> Signup</span>
        <form action="/signup" method="post">
          <div class="form-group">
            <label class="name-head" for="name">Name:</label>
            <input
              type="text"
              id="name"
              class="signup-name"
              name="username"
              placeholder="Enter your name"
              required
              autocomplete="off"
            />
          </div>
          <div class="form-group">
            <label class="password-head" for="password">Password:</label>
            <input
              type="password"
              id="password"
              class="signup-password"
              name="password"
              placeholder="Password"
              required
            />
          </div>
          <button type="submit" class="submit-btn">Signup</button>
        </form>
      </div>
      <div class="bottom">
        <span>&copy;Aakruti's Web 2024</span>
      </div>
    </div>
  </body>
</html>
